Proceso EDA

In [1]:
# Importamos las librerias que usaremos para transformar el dataset
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import datetime

In [168]:
# Se lee el archivo csv como dataframe
df_acc = pd.read_csv("AccidentesAviones.csv")
df_acc.head()

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,3,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,4,"September 09, 1913",1830,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20,?,?,14,?,?,0,The airship flew into a thunderstorm and encou...

In [169]:
# Quitamos las columnas que tienen muchos datos faltantes y generan ruido a nuesto dataset
def drop_col(df):
    df.drop(columns=['flight_no','cn_ln','PASAJEROS A BORDO','ground', 'registration'])

drop_col(df_acc)
df_acc['Ruta2'] = df_acc['route']

In [170]:
# Nos sirve para cambiar el formato de la fecha
def date_convert(date_to_convert):
     return datetime.datetime.strptime(date_to_convert, "%B %d, %Y").strftime('%m/%d/%Y')
# Ejecutamos la funcion
df_acc['fecha'] = df_acc['fecha'].apply(date_convert)

In [171]:
df_acc.head()

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary,Ruta2
0,0,09/17/1908,1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly...",Demonstration
1,1,09/07/1909,?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...,Air show
2,2,07/12/1912,0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...,Test flight
3,3,08/06/1913,?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...,?
4,4,09/09/1913,1830,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20,?,?,14,?,?,0,The airship flew into a thunderstorm and encou...,?

In [172]:
# Se cambian los nombres de las variables 
def transform_main(df):
    main_df = df
    main_df.rename(columns= {'Unnamed': 'Numero',
        'fecha': 'Fecha_accidente',
        'HORA declarada': 'Colision_hora',
        'Ruta': 'Origen',
        'OperadOR': 'Operador',
        'route': 'Tipo_vuelo',
        'ac_type': 'Tipo_nave',
        'registration': 'Codigo',
        'all_aboard': 'Pasajeros',
        'PASAJEROS A BORDO': 'Pasajeros_a_bordo',
        'crew_aboard': 'Tripulacion',
        'cantidad de fallecidos': 'Numero_de_fallecidos',
        'passenger_fatalities': 'Pasajeros_fallecidos',
        'crew_fatalities': 'Tripulantes_fallecidos',
        'summary': 'Descripcion',
        'ground': 'Fallecidos_suelo',
        'Ruta2': 'Ruta'
        }, inplace= True)

transform_main(df_acc)

In [173]:
# Se itera para cambiar los valores '?' por 'Desconocido'
for col in df_acc.columns:
    if df_acc[col].dtype == object:
        df_acc = df_acc.replace('?', 'Desconocido')

In [174]:
# Revisamos los resultados
df_acc.head()

,Unnamed: 0,Fecha_accidente,Colision_hora,Origen,Operador,flight_no,Tipo_vuelo,Tipo_nave,Codigo,cn_ln,Pasajeros,Pasajeros_a_bordo,Tripulacion,Numero_de_fallecidos,Pasajeros_fallecidos,Tripulantes_fallecidos,Fallecidos_suelo,Descripcion,Ruta
0,0,09/17/1908,1718,"Fort Myer, Virginia",Military - U.S. Army,Desconocido,Demonstration,Wright Flyer III,Desconocido,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly...",Demonstration
1,1,09/07/1909,Desconocido,"Juvisy-sur-Orge, France",Desconocido,Desconocido,Air show,Wright Byplane,SC1,Desconocido,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...,Air show
2,2,07/12/1912,0630,"Atlantic City, New Jersey",Military - U.S. Navy,Desconocido,Test flight,Dirigible,Desconocido,Desconocido,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...,Test flight
3,3,08/06/1913,Desconocido,"Victoria, British Columbia, Canada",Private,Desconocido,Desconocido,Curtiss seaplane,Desconocido,Desconocido,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...,Desconocido
4,4,09/09/1913,1830,Over the North Sea,Military - German Navy,Desconocido,Desconocido,Zeppelin L-1 (airship),Desconocido,Desconocido,20,Desconocido,Desconocido,14,Desconocido,Desconocido,0,The airship flew into a thunderstorm and encou...,Desconocido

In [175]:
# Se cambia el formato de hora
df_acc['Colision_hora'] =  df_acc['Colision_hora'].replace('Desconocido', None)
df_acc['Colision_hora'] = df_acc['Colision_hora'].str.replace(':','')
df_acc['Colision_hora'] = df_acc['Colision_hora'].str.replace(r'\D+','',regex=True)
df_acc['Colision_hora'] = pd.to_datetime(df_acc['Colision_hora'], format='%H%M').dt.time

In [179]:
df_acc.head()

,Unnamed: 0,Fecha_accidente,Colision_hora,Origen,Operador,flight_no,Tipo_vuelo,Tipo_nave,Codigo,cn_ln,Pasajeros,Pasajeros_a_bordo,Tripulacion,Numero_de_fallecidos,Pasajeros_fallecidos,Tripulantes_fallecidos,Fallecidos_suelo,Descripcion,Ruta
0,0,09/17/1908,17:18:00,"Fort Myer, Virginia",Military - U.S. Army,Desconocido,Demonstration,Wright Flyer III,Desconocido,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly...",Demonstration
1,1,09/07/1909,NaT,"Juvisy-sur-Orge, France",Desconocido,Desconocido,Air show,Wright Byplane,SC1,Desconocido,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...,Air show
2,2,07/12/1912,06:30:00,"Atlantic City, New Jersey",Military - U.S. Navy,Desconocido,Test flight,Dirigible,Desconocido,Desconocido,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...,Test flight
3,3,08/06/1913,NaT,"Victoria, British Columbia, Canada",Private,Desconocido,Desconocido,Curtiss seaplane,Desconocido,Desconocido,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...,Desconocido
4,4,09/09/1913,18:30:00,Over the North Sea,Military - German Navy,Desconocido,Desconocido,Zeppelin L-1 (airship),Desconocido,Desconocido,20,Desconocido,Desconocido,14,Desconocido,Desconocido,0,The airship flew into a thunderstorm and encou...,Desconocido

In [182]:
# Separamos la columna Origen por la coma y eliminamos los espacios vacios
def split_country(x):
  a = x.split(",")[-1]
  return a.replace(" ", "")
# Se almacena en una nueva columna 'Pais'
df_acc['Pais'] = df_acc['Origen'].apply(split_country)

In [183]:
# Estandarizamos los estados de USA para cambiarlo a Pais
x = "Alabama, Alaska, AmericanSamoa, Arizona, Arkansas, California, Colorado, Connecticut, Delaware, DistrictofColumbia, Florida, Georgia, Guam, Hawaii, Idaho, \
Illinois, Indiana, Iowa, Kansas, Kentucky, Louisiana, Maine, Maryland, Massachusetts, Michigan, Minnesota, Minor OutlyingIslands, Mississippi, Missouri, Montana, \
Nebraska, Nevada, NewHampshire, NewJersey, NewMexico, NewYork, NorthCarolina, NorthDakota, NorthernMarianaIslands, Ohio, Oklahoma, Oregon, Pennsylvania, PuertoRico,\
 Rhode Island, South Carolina, South Dakota, Tennessee, Texas, U.S.VirginIslands, Utah, Vermont, Virginia, Washington, West Virginia, Wisconsin, Wyoming"
x=x.split(", ")
x=pd.Series(x)

ind = df_acc['Pais'].isin(x)
df_acc.loc[ind ,'Pais'] = 'USA'
df_acc.head()

,Unnamed: 0,Fecha_accidente,Colision_hora,Origen,Operador,flight_no,Tipo_vuelo,Tipo_nave,Codigo,cn_ln,Pasajeros,Pasajeros_a_bordo,Tripulacion,Numero_de_fallecidos,Pasajeros_fallecidos,Tripulantes_fallecidos,Fallecidos_suelo,Descripcion,Ruta,Pais
0,0,09/17/1908,17:18:00,"Fort Myer, Virginia",Military - U.S. Army,Desconocido,Demonstration,Wright Flyer III,Desconocido,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly...",Demonstration,USA
1,1,09/07/1909,NaT,"Juvisy-sur-Orge, France",Desconocido,Desconocido,Air show,Wright Byplane,SC1,Desconocido,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...,Air show,France
2,2,07/12/1912,06:30:00,"Atlantic City, New Jersey",Military - U.S. Navy,Desconocido,Test flight,Dirigible,Desconocido,Desconocido,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...,Test flight,USA
3,3,08/06/1913,NaT,"Victoria, British Columbia, Canada",Private,Desconocido,Desconocido,Curtiss seaplane,Desconocido,Desconocido,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...,Desconocido,Canada
4,4,09/09/1913,18:30:00,Over the North Sea,Military - German Navy,Desconocido,Desconocido,Zeppelin L-1 (airship),Desconocido,Desconocido,20,Desconocido,Desconocido,14,Desconocido,Desconocido,0,The airship flew into a thunderstorm and encou...,Desconocido,OvertheNorthSea

In [184]:
# Extraemos el año, mes, dia, decada y dia de semana de la variable fecha
df_acc['Anio'] = pd.DatetimeIndex(df_acc['Fecha_accidente']).year
df_acc['Mes'] = pd.DatetimeIndex(df_acc['Fecha_accidente']).month
df_acc['Dia'] = pd.DatetimeIndex(df_acc['Fecha_accidente']).day
df_acc['Decada'] = (df_acc['Anio']) // 10 * 10
df_acc['Dia_de_semana'] = pd.DatetimeIndex(df_acc['Fecha_accidente']).day_name()

In [185]:
df_acc.head()

,Unnamed: 0,Fecha_accidente,Colision_hora,Origen,Operador,flight_no,Tipo_vuelo,Tipo_nave,Codigo,cn_ln,...,Tripulantes_fallecidos,Fallecidos_suelo,Descripcion,Ruta,Pais,Anio,Mes,Dia,Decada,Dia_de_semana
0,0,09/17/1908,17:18:00,"Fort Myer, Virginia",Military - U.S. Army,Desconocido,Demonstration,Wright Flyer III,Desconocido,1,...,0,0,"During a demonstration flight, a U.S. Army fly...",Demonstration,USA,1908,9,17,1900,Thursday
1,1,09/07/1909,NaT,"Juvisy-sur-Orge, France",Desconocido,Desconocido,Air show,Wright Byplane,SC1,Desconocido,...,0,0,Eugene Lefebvre was the first pilot to ever be...,Air show,France,1909,9,7,1900,Tuesday
2,2,07/12/1912,06:30:00,"Atlantic City, New Jersey",Military - U.S. Navy,Desconocido,Test flight,Dirigible,Desconocido,Desconocido,...,5,0,First U.S. dirigible Akron exploded just offsh...,Test flight,USA,1912,7,12,1910,Friday
3,3,08/06/1913,NaT,"Victoria, British Columbia, Canada",Private,Desconocido,Desconocido,Curtiss seaplane,Desconocido,Desconocido,...,1,0,The first fatal airplane accident in Canada oc...,Desconocido,Canada,1913,8,6,1910,Wednesday
4,4,09/09/1913,18:30:00,Over the North Sea,Military - German Navy,Desconocido,Desconocido,Zeppelin L-1 (airship),Desconocido,Desconocido,...,Desconocido,0,The airship flew into a thunderstorm and encou...,Desconocido,OvertheNorthSea,1913,9,9,1910,Tuesday

In [191]:
# Se Normaliza la columna Ruta
df_acc['Ruta'] = df_acc['Ruta'].replace('Air show', 'Show Aereo')
df_acc['Ruta'] = df_acc['Ruta'].replace('Air Show', 'Show Aereo')
df_acc['Ruta'] = df_acc['Ruta'].replace('Airshow', 'Show Aereo')
df_acc['Ruta'] = df_acc['Ruta'].replace('Air race', 'Show Aereo')

#_________________________________________________________________________________________

df_acc['Ruta'] = df_acc['Ruta'].replace('Test flight', 'Prueba Aerea')
df_acc['Ruta'] = df_acc['Ruta'].replace('Test', 'Prueba Aerea')
df_acc['Ruta'] = df_acc['Ruta'].replace('Testing', 'Prueba Aerea')
df_acc['Ruta'] = df_acc['Ruta'].replace('Test Flight', 'Prueba Aerea')
df_acc['Ruta'] = df_acc['Ruta'].replace('test flight', 'Prueba Aerea')
df_acc['Ruta'] = df_acc['Ruta'].replace('Positioning', 'Prueba Aerea')
df_acc['Ruta'] = df_acc['Ruta'].replace('Demonistration', 'Prueba Aerea')
df_acc['Ruta'] = df_acc['Ruta'].replace('Demonstration flight', 'Prueba Aerea')
df_acc['Ruta'] = df_acc['Ruta'].replace('Demonstration', 'Prueba Aerea')
df_acc['Ruta'] = df_acc['Ruta'].replace('Training', 'Prueba Aerea')
df_acc['Ruta'] = df_acc['Ruta'].replace('Traing', 'Prueba Aerea')
df_acc['Ruta'] = df_acc['Ruta'].replace('Training flight', 'Prueba Aerea')
df_acc['Ruta'] = df_acc['Ruta'].replace('Training exercise', 'Prueba Aerea')
df_acc['Ruta'] = df_acc['Ruta'].replace('Movie set', 'Prueba Aerea')
df_acc['Ruta'] = df_acc['Ruta'].replace('Traffic reporting', 'Prueba Aerea')
df_acc['Ruta'] = df_acc['Ruta'].replace('Instructional Flight', 'Prueba Aerea')
df_acc['Ruta'] = df_acc['Ruta'].replace('Maintenance flight', 'Prueba Aerea')
df_acc['Ruta'] = df_acc['Ruta'].replace('Medical flight', 'Prueba Aerea')
df_acc['Ruta'] = df_acc['Ruta'].replace('Ferrying fire fighters', 'Prueba Aerea')
df_acc['Ruta'] = df_acc['Ruta'].replace('Medical evacuation flight', 'Prueba Aerea')
df_acc['Ruta'] = df_acc['Ruta'].replace('News reporting', 'Prueba Aerea')
df_acc['Ruta'] = df_acc['Ruta'].replace('Delivery flight', 'Prueba Aerea')
df_acc['Ruta'] = df_acc['Ruta'].replace('Wrangell, AK - Return', 'Prueba Aerea')
df_acc['Ruta'] = df_acc['Ruta'].replace('Kenai, AK - Return', 'Prueba Aerea')

#_________________________________________________________________________________________

df_acc['Ruta'] = df_acc['Ruta'].replace('Parachuting', 'Paseo')
df_acc['Ruta'] = df_acc['Ruta'].replace('Local', 'Paseo')
df_acc['Ruta'] = df_acc['Ruta'].replace('Local sightseeing', 'Paseo')
df_acc['Ruta'] = df_acc['Ruta'].replace('Sighteeing', 'Paseo')
df_acc['Ruta'] = df_acc['Ruta'].replace('Sight seeing', 'Paseo')
df_acc['Ruta'] = df_acc['Ruta'].replace('Skydiving', 'Paseo')
df_acc['Ruta'] = df_acc['Ruta'].replace('Sightseeing', 'Paseo')
df_acc['Ruta'] = df_acc['Ruta'].replace('Sightseeing over Rotterdam', 'Paseo')
df_acc['Ruta'] = df_acc['Ruta'].replace('Sightseeing', 'Paseo')
df_acc['Ruta'] = df_acc['Ruta'].replace('Observation flight out of Cape Schmidt', 'Paseo')
df_acc['Ruta'] = df_acc['Ruta'].replace('Grand Canyon National Park', 'Paseo')
df_acc['Ruta'] = df_acc['Ruta'].replace('Sightseeing Fentress Airpark', 'Paseo')

#_________________________________________________________________________________________

df_acc['Ruta'] = df_acc['Ruta'].replace('Military exercises', 'Prueba Militar')
df_acc['Ruta'] = df_acc['Ruta'].replace('Military exercise', 'Prueba Militar')
df_acc['Ruta'] = df_acc['Ruta'].replace('Patrol', 'Prueba Militar')
df_acc['Ruta'] = df_acc['Ruta'].replace('Militiary training', 'Prueba Militar')
df_acc['Ruta'] = df_acc['Ruta'].replace('Exercises', 'Prueba Militar')
df_acc['Ruta'] = df_acc['Ruta'].replace('Ferrying troops', 'Prueba Militar')
df_acc['Ruta'] = df_acc['Ruta'].replace('Transporting troops', 'Prueba Militar')
df_acc['Ruta'] = df_acc['Ruta'].replace('Ferrying', 'Prueba Militar')
df_acc['Ruta'] = df_acc['Ruta'].replace('Practice maneuvers', 'Prueba Militar')
df_acc['Ruta'] = df_acc['Ruta'].replace('Bombing run', 'Prueba Militar')
df_acc['Ruta'] = df_acc['Ruta'].replace('Radio surveillance mission', 'Prueba Militar')
df_acc['Ruta'] = df_acc['Ruta'].replace('Supply mission', 'Prueba Militar')
df_acc['Ruta'] = df_acc['Ruta'].replace('Survey flight', 'Prueba Militar')
df_acc['Ruta'] = df_acc['Ruta'].replace('Reconnaissance', 'Prueba Militar')
df_acc['Ruta'] = df_acc['Ruta'].replace('Survey', 'Prueba Militar')
df_acc['Ruta'] = df_acc['Ruta'].replace('Search mission', 'Prueba Militar')
df_acc['Ruta'] = df_acc['Ruta'].replace('Refueling', 'Prueba Militar')
df_acc['Ruta'] = df_acc['Ruta'].replace('Training/Aranchi', 'Prueba Militar')
df_acc['Ruta'] = df_acc['Ruta'].replace('Otis AFB', 'Prueba Militar')
df_acc['Ruta'] = df_acc['Ruta'].replace('Refueling', 'Prueba Militar')

#_________________________________________________________________________________________

df_acc['Ruta'] = df_acc['Ruta'].replace('None', 'Desconocido')
df_acc['Ruta'] = df_acc['Ruta'].replace('nan', 'Desconocido')
df_acc['Ruta'] = df_acc['Ruta'].replace('Shuttle', 'Desconocido')
df_acc['Ruta'] = df_acc['Ruta'].replace('14099', 'Desconocido')

In [200]:
# Convertimos demas valores a Vuelo Comercial
def my_replace(x):
    if '-' in str(x):
        x = 'Vuelo Comercial'
    if str(x) != 'Desconocido' and str(x) != 'Prueba Militar' and str(x) != 'Paseo' and str(x) != 'Prueba Aerea' and str(x) != 'Show Aereo':
        x = 'Vuelo Comercial'
    return x

df_acc['Ruta'] = df_acc['Ruta'].apply(my_replace)

In [201]:
df_acc.Ruta.value_counts()

Vuelo Comercial    4016
Desconocido         766
Prueba Aerea        153
Paseo                43
Prueba Militar       25
Show Aereo            5
Name: Ruta, dtype: int64

Proceso de carga de datos a MySql

In [189]:
# Importamos las librerias para poder conectarnos a MySql
from sqlalchemy.orm import Session 
from sqlalchemy.ext.automap import automap_base
from openpyxl import Workbook
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from sqlalchemy.orm import declarative_base
from sqlalchemy import Column, Integer, String, create_engine, Table, MetaData
import mysql.connector

In [202]:
# Establecemos la conexion
mydb = mysql.connector.connect(
host="localhost",
user="root",
password="Aronsss134"
  )
# Creamos el Database
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE Accidentes_aviones")
engine = create_engine("mysql+mysqldb://root:Aronsss134@localhost:3306/Accidentes_aviones")
session = Session(engine)
Base = declarative_base()

In [203]:
df_acc.to_sql('Accidentes', con = engine, if_exists='append')

c:\Program Files\Python310\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'Accidentes' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

5008